label_studio_converter
opencv-python
onnxruntime<=1.15.1
onnx
torch==2.0.1
torchvision==0.15.2
gunicorn==20.1.0
rq==1.10.1
timm==0.4.12

segment_anything @ git+https://github.com/facebookresearch/segment-anything.git
mobile-sam @ git+https://github.com/ChaoningZhang/MobileSAM.git
label-studio-ml @ git+https://github.com/heartexlabs/label-studio-ml-backend.git
