label_studio_converter
-e git+https://github.com/heartexlabs/label-studio-ml-backend@master#egg=label_studio_ml
-e git+https://github.com/facebookresearch/segment-anything.git@master#egg=segment_anything
opencv_python
onnxruntime
onxx
torch==2.0.1
torchvision==0.15.2
gunicorn==20.1.0
rq==1.10.1
mobile-sam @ git+https://github.com/ChaoningZhang/MobileSAM.git@01ea8d0f5590082f0c1ceb0a3e2272593f20154b