gunicorn==20.1.0
label-studio-ml @ git+https://github.com/HumanSignal/label-studio-ml-backend.git@fb-LEAP-861
mobile-sam @ git+https://github.com/ChaoningZhang/MobileSAM.git
torch==2.0.1
torchvision==0.15.2
segment-anything==1.0
opencv-python==4.8.0.76
label_studio_converter==0.0.58
olefile==0.47