version: "3.5"

services:
  redis:
    image: redis:alpine
    hostname: redis
    volumes:
      - "./data/redis:/data"
    expose:
      - 6379
  model_server:
    build: .
    environment:
      - MODEL_DIR=/data/models
      - RQ_QUEUE_NAME=default
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - LABEL_STUDIO_ML_BACKEND_V2=1
      - LABEL_STUDIO_HOST=http://localhost:8000
      - LABEL_STUDIO_API_KEY=d6f8a2622d39e9d89ff0dfef1a80ad877f4ee9e3
    ports:
      - 9090:9090
    depends_on:
      - redis
    links:
      - redis
    volumes:
      - "./logs:/tmp"