version: "3.8"

services:
  flair:
    container_name: flair
    image: heartexlabs/label-studio-ml-backend:flair-master
    init: true
    build:
      context: .
      args:
        TEST_ENV: ${TEST_ENV}
    environment:
      - MODEL_DIR=/data/models
      - WORKERS=1
      - THREADS=8
      - LOG_LEVEL=DEBUG
      - FLAIR_MODEL_NAME=ner-multi
    ports:
      - "9090:9090"
