version: "3.8"

services:
  langchain_search_agent:
    container_name: langchain_search_agent
    image: heartexlabs/label-studio-ml-backend:langchainsearch-master
    init: true
    build:
      context: .
      args:
        TEST_ENV: ${TEST_ENV}
    environment:
      - MODEL_DIR=/data/models
      - WORKERS=2
      - THREADS=4
      - LOG_LEVEL=DEBUG
      - OPENAI_API_KEY=
      - GOOGLE_CSE_ID=
      - GOOGLE_API_KEY=
    ports:
      - "9090:9090"
